.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.ristinollapeli{
  max-width: 350px;
  background-image: url('./images/selma2.png');
  background-size: cover;
}

.peliruutu{
  margin: 4px;
  width: 100px;
  height: 100px;

  text-decoration: none;
  vertical-align: top;

}

.muistipeli{
  max-width: 650px;
  vertical-align: center;
 
}

.kortti{
  margin: 0px;
  width: 150px;
  height: 150px;
  text-decoration: none;
  vertical-align: top;
}

.taskulaskin{
  max-width: 432px;
  vertical-align: center;
  background-image: url('./images/selma1.png');
  background-size: cover;
}

.näyttö{
  font-size: 40px;

  padding: 10px;
  margin: 4px;
  width: 432px;
  height: 50px;
  text-decoration: none;
  vertical-align: top;
  text-align: right;

}

.näppäin{
  font-size: 40px;

  margin: 4px;
  width: 100px;
  height: 100px;
  text-decoration: none;
  vertical-align: top;
}




